.search_form{
    margin: 10px 20px;
    .search_input{
        width: 60vw;
        height: 35px;
        font-size: 17px;
        letter-spacing: 2px;
        padding-left: 10px;
        border-color: transparent;
        background-color: rgb(228, 228, 228);
    }
    .search_btn{
        height: 35px;
        font-size: 17px;
        color: white;
        cursor: pointer;
        padding: 0 30px;
        border: none;
        background-color: rgb(163, 27, 27);
        letter-spacing: 2px;
        &:hover{
            background-color: rgb(255, 0, 0);
        }
    }
    
}
