*, ::before, ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.best_sale_products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.category_item{
    display: flex;
    align-items: center;
    margin: 30px 30px 0;
    font-size: 22px;
    font-weight: 900;
}

.fa-bolt{
    margin-right: 10px;
    color: rgb(255, 67, 67);
    font-size: 30px;
}

@media screen and (max-width: 850px) {
    .best_sale_products{
        justify-content: center;
    }
}