*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.categories{
    width: fit-content;
    margin: 0 auto;
}

.categories .category_btn{
    width: 80px;
    padding: 5px 5px;
    border: 2px solid rgb(163, 27, 27);
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    margin: 20px;
    text-transform: capitalize;
    color:rgb(163, 27, 27);
    transition: 0.3s ease;
}

.categories .category_btn:hover{
    background-color: rgb(163, 27, 27);
    border-color: red;
    color: white;
}

.categories .active_btn{
    background-color: rgb(163, 27, 27);
    border-color: red;
    color: white;
}

.products{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product{
    text-decoration: none;
    color: black;
    max-width: 250px;
    margin: 10px 15px;
    cursor: pointer;
    padding: 10px;
    background-color: white;
    border-bottom: 2px solid rgb(136, 136, 136);
    position: relative;
    overflow: hidden;
}

.product_img{
    height: 200px;
    display: block;
    margin: 0 auto 10px;
}

.product_add_btn{
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border-color: transparent;
    padding: 5px;
    width: 35px;
    height: 35px;
    font-size: 17px;
    cursor: pointer;
    background-color: rgb(190, 0, 0);
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translateX(-100%);
    opacity: 0;
    transition: 0.4s ease;
}

.product_add_btn:hover{
    background-color: rgb(255, 0, 0);
}

.product_name, .product_price, .product_rating{
    margin-bottom: 5px;
}

.product_price{
    color: rgb(163, 27, 27);
}

.product_info{
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: grid;
    grid-template-rows: auto auto auto;
}

.product:hover .product_add_btn{
    transform: translateX(50%);
    opacity: 1;
}

.product_price .product_old_price{
    margin-left: 1rem;
    color: rgb(104, 104, 104);
    font-size: 15px;
    text-decoration: line-through;
}

.product_rating{
    display: flex;
}
