*, ::after, ::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.single_product{
    font-family: 'Poppins', sans-serif;
    margin: 20px 0;
}

.single_product_header{
    margin: 50px 0;
    text-align: center;
}

.single_product_header h2{
    margin-top: 30px;
}

.single_product_header p{
    margin: 5px;
}

.back_to_products{
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 0, 0);
    background-color: rgb(163, 27, 27);
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
}

.back_to_products:hover{
    background-color: rgb(255, 0, 0);
}

.increase_btn, .decrease_btn{
    border: 1px solid rgb(255, 0, 0);
    background-color: rgb(163, 27, 27);
    width: 50px;
    color: white;
    font-size: 15px;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
}

.increase_btn:hover{
    background-color: red;
}

.decrease_btn:hover{
    background-color: red;
}

.add_btn{
    border: 1px solid rgb(255, 0, 0);
    background-color: rgb(163, 27, 27);
    width: 150px;
    color: white;
    font-size: 17px;
    padding: 5px 0;
    cursor: pointer;
}

.add_btn:hover{
    background-color: red;
}

.fa-star{
    color: red;
}

.single_product_info span{
    color: rgb(0, 0, 0);
    margin-right: 10px;
    font-weight: bold;
}

.single_product_btns .amount_item{
    margin: 0 10px;
    font-size: 17px;
    color: rgb(163, 27, 27);
    font-weight: bold;
}

.single_product_btns{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.single_product_btns_container{
    display: flex;
    align-items: center;
}

.old_price{
    font-weight: normal !important;
    text-decoration: line-through;
    opacity: 0.8;
    font-size: 15px;
}

.single_product_price .price{
    color: rgb(196, 47, 47);
}

p i{
    color: rgb(255, 0, 4)
}

@media screen and (min-width: 850px) {
    .single_product_container{
        max-width: 800px;
        margin: 0 auto;
    }
    
    .single_product_info_img{
        display: flex;
        justify-content: center;  
    }
    
    .single_product_img{
        margin-right: 100px;
    }
    
    
}

@media screen and (max-width:  850px) {
    .single_product_info_img{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .single_product_img{
        margin-bottom: 20px;
    }

    .single_product_info{
        padding: 0 50px;
        max-width: 800px;
        margin: 0 auto;
    }
}